* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: white;
  color: black;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Mochiy Pop One", sans-serif;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.gifLoading {
  margin-top: 15vh;
  width: 40vw;
  height: 40vh;
}

h1 {
  font-size: 40px;
  text-shadow: 2px 2px 2px #9932cc93;
  padding: 1%;
}
.footer #button {
  width: 35px;
  height: 35px;
  border: #727172 12px solid;
  border-radius: 35px;
  margin: 0 auto;
  position: relative;
  transition: all 1s ease;
}
.footer #button:hover {
  width: 35px;
  height: 35px;
  border: #3a3a3a 12px solid;
  position: relative;
}
.footer {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 3.2em;
  overflow: hidden;
  margin: 0 auto;
  transition: all 1s ease;
  z-index: 999;
}

.footer:hover {
  transition: all 1s ease;
  height: 10em;
}

.footer #container {
  margin-top: 1vh;
  display: flex;
  justify-content: space-evenly;
  padding: 0 20%;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #9932cc93;
}

.links {
  transition: 8s;
}
.links:hover {
  transform: scale(1.3);
} 
.Icons-container {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
}
.Names {
  position: absolute ;
  bottom: 42%;
}



