.App {
  text-align: center;
}
.Login{
  text-align: center;
  border: solid 3px black;
  padding: 5%;
  /* margin-top: ; */
    margin-left: 30%;
    margin-right: 30%;
}
.Login button{
  background-color: blue;
  /* padding: 5%; */
}
.loginPage{
  display: flex;
  width: 100vw;
}
.leftSize{
width: 40%;
height: 70%;
margin-top: 10%;

}
.rightSize{
width: 40%;
height: 70%;

}



