.UserSchedule{
    text-align: center;
    margin-left: 10vw;
    width: 80vw;
}
.AdminSchedule{
    width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.maimSchedule{
    width: 63vw;    
}
.AdminSchedule h1{
    width: 70vw;
    margin: 0.5%;
}
.addEvent{
    margin-top: 3%;
    width: 30vw;
}
.addEvent img {
    margin-top: 30%;
    width: 20vw;
    height:30vh;
}

.saveEvent{
    height: 4vh;
    width: 10vw;
    border-radius: 5%;
    font-weight: bold;
    transition: 0.2s linear;
    cursor: pointer;
}

.saveEvent:hover{
  margin-left: 15px;
  transform: scale(1.1);
}

.rbc-event{
    background-color: rgb(142, 72, 151)
}

.inputText {
    border: none;
    border-bottom: 2px solid grey ;
    height: 4vh;
}

.inputText:focus{
    border: none;
}

/* .rbc-row{
    background-color: rgba(175, 121, 175, 0.623);
}

.rbc-time-slot{
    background-color: rgba(175, 121, 175, 0.623);
} */
