 .table-Inputs {
  padding: 5px 15px;
  margin: 4px;
  border-radius: 3px;
  margin-bottom: 2vh;
  border: 3px solid #9932CC; ;
  text-align: center; 
}

.navbar {
  width: 30vw;
}

.table-select {
  padding: 5px 15px;
  margin: 4px;
  text-align: center;
  border: 3px solid #9932CC; ;
  border-radius: 5px;
  
}

.table-button {
  padding: 5px 20px;
  border-radius: 3px ;
  margin-left: 1.5vw;
  background-color: #9932CC;
  color: white;
  transition: 0.3s linear;
}

.table-button:hover {
  transform: scale(1.2);
  border: 3px solid #9932CC;
  background-color:#EBEBEB;
  color:  #9932CC;
  cursor: pointer;
} 


 .table-fill {
 background: white;
 text-align: center;
 border-radius:3px;
 border-collapse: collapse;
 height: 20vh ;
 margin-left: 10vw;
 margin-top: 2vh;
 max-width: 70%;
 padding:5px;
 width: 100%;
 box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
 animation: float 5s infinite;
}

th {
 color:#D5DDE5;;
 background:#9932CC;
 border-bottom:2px solid whitesmoke ;
 font-size:15px;
 font-weight: 100;
 padding:15px;
 text-align:center;
 text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
 vertical-align:middle;
}

th:first-child {
 border-top-left-radius:3px;
}

th:last-child {
 border-top-right-radius:3px;
 border-right:none;
}
 
tr {
 border-top: 1px solid #C1C3D1;
 border-bottom: 1px solid #C1C3D1;
 color:#666B85;
 font-size:14px;
 font-weight:normal;
 text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
 background:#9932CC;
 color:#FFFFFF;
 border-top: 1px solid #22262e;
}

tr:first-child {
 border-top:none;
}

tr:last-child {
 border-bottom:none;
}

tr:nth-child(odd) td {
 background:#EBEBEB;
}

tr:nth-child(odd):hover td {
  background:#9932CC;
}

tr:last-child td:first-child {
 border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
 border-bottom-right-radius:3px;
}

td {
 background:#FFFFFF;
 font-weight:300;
 font-size:15px;
 text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
 border-right: 1px solid #C1C3D1;
}

.admin-Buttons {
  cursor: pointer;
  transition: 0.5s linear;
}

.admin-Buttons:hover {
  transform: scale(1.3);
} 


 @media screen and (max-width: 768px) {
.navbar   {
    background-color: red;
    width: 112.5%;

  }
}


 
@media screen and (max-width: 426px) {
  
  .navbar {
    width: 135%;
  }

  .table-fill{
    width: 80vw;
    margin-left: 9vw;
  }
}