* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap; 
   flex-direction: row;
    justify-content:space-around;
    margin-top: 2vh; 
  }
  .cardUser{
    width: 27vw;
     margin-Bottom: 2% ;
  }
  .cardUser img{
    height: 270px;
  }

.cntcToggleBtn{
  margin-right: 80vw;
  border: none;
  cursor: pointer;
  background-color: whitesmoke;
  font-size: 150%;
  margin-top: 4vh;
}

.cntcToggleBtn:hover {
  border-bottom: 1px solid purple;
}









  

  .table-container {
    position: relative;
    height: 10vh;
    width: 80vw;
    margin-left: 10vw;
    display: flex;
    justify-content: center;
  }


  table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}






  @media screen and (max-width: 768px){
    .cntcSearchCnt{
      position: relative;
      bottom: 2vh;
    }

    .errorName{
     top: 145px;
    }
    .cardUser{
      width: 45vw;
      padding: 3%;
    }
    .cardUser img{
      width: 35vw;
    }
  }

  @media screen and (max-width: 426px){
    .cardUser{
      width: 90vw;
    }
    .cardUser img{
      width: 70vw;
    }
    .cntcSearchCnt{
      right: -34px;
      top: -2vh;
    }
    .cntcMain{
      width: 65vw;
      margin-left: 10vw;
    }
    .cntcToggleBtn{
      font-size: small;
    }

    .table-container {
      margin-left: 1vw;
    }

  }