.gifLoading{
  width: 80vw;
  height: 80vh;
}
.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 2vh;
  }
  .cardUser {
    width: 28vw;
    height: auto;
    align-items: center;
    margin: 1%;
    transition: 1s ease-in-out;
    margin-top: 5vh;
    border-radius: 2%;
    box-shadow: rgba(153, 140, 153, 0.781) 3px 3px 3px 3px;
    padding: 0.5%;
    background: linear-gradient(
    white,
    white,
    rgba(231, 170, 231, 0.712)
  );
  }
  .cardUser:hover{
    box-shadow: rgba(128, 0, 128, 0.836) 4px 4px 4px 4px;
    width: 29vw;
  
    }
  .cardUser img {
    margin-top: 3%;
    width: 21vw;
    height: 33vh;
    opacity: 0.9;
    border-radius: 1%;
  }
  .main{
    grid-area: main;
  }

  @media screen and (max-width: 768px){
    .cardUser{
      width: 45vw;
    }
    .cardUser img{
      width: 35vw;
    }
  }

  @media screen and (max-width: 426px){
    .cardUser{
      width: 90vw;
    }
    .cardUser img{
      width: 70vw;
    }
  }