/* h1{
  font-size: 40px;
  text-shadow: 2px 2px 2px rgba(128, 0, 128, 0.842);
} */
.cardWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-top: 2vh;
  }
  .cardUser {
    width: 25vw;
    height: auto;
    align-items: center;
    margin: 1%;
    transition: 1s ease-in-out;
    margin-top: 5vh;
    box-shadow: rgba(143, 31, 143, 0.781) 3px 3px 3px 3px;
    padding: 0.5%;
  }
  .cardUser:hover{
    box-shadow: rgba(128, 0, 128, 0.836) 4px 4px 4px 4px;
    width: 26vw;
  
    }
  .cardUser img {
    margin-top: 3%;
    width: 17vw;
    height: 30vh;
    opacity: 0.9;
    border-radius: 1%;
  }
  .main{
    grid-area: main;
  }